* {
  box-sizing: boder-box;
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  /* padding: 10px; */
  background-color: #1f2937;
}

li,
a {
  text-decoration: none;
  display: inline;
  float: left;
  font-size: 18px;
  color: #e5e7eb;
  margin: 4px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  /* background: #1f2937; */
}

h3.logo {
  color: #f9faf8;
  font-size: 24px;
}
